@{
    ViewData["Title"] = "Welcome to Adventure Works Photo Sharing";
}

<h1>Welcome to Adventure Works Photo Sharing! Use this site to share your adventures</h1>

<h2>Latest Photos</h2>

<vc:photo-gallery number="3"></vc:photo-gallery>