@{
    ViewData["Title"] = "Access Denied";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        You do not have the rights to perform this action. Try to <a asp-controller="Account" asp-action="Login">Log in</a> with a different user.
    </p>
</div>

